*.bak
*.pyc
*.si4project
*CMakeCache*
.idea
.vscode
*.out
*.o
*.swp
tmp.s
cmake-build-debug
tests/*/*.s
tests/*/*.o
tests/*/a.out
tests/a.out
tests/*.cmake
tests/Makefil1e
tests/tmp.s
tests/do
tests/to
tests/tulang
linker/*.s
linker/*.o
linker/a.out
compiler/*.s
compiler/*.o
compiler/a.out
dev
docs
core
asmer/*.s
asmer/dev
_tmp