*.bak
*.pyc
*.si4project
*CMakeCache*
.idea
.vscode
*.out
*.o
*.a
*.swp
tmp.s
cmake-build-debug
tests/a.out
tests/*.cmake
tests/Makefil1e
tests/tmp.s
tests/do
tests/to
tests/tulang
tests/*.s
tests/class/*.s
tests/class/*.o
tests/datastruct/*.s
tests/datastruct/*.o
tests/internalpkg/*.s
tests/internalpkg/*.o
tests/operation/*.s
tests/operation/*.o
tests/statement/*.s
tests/statement/*.o
tests/memory/*.o
tests/memory/*.s
tests/src/*
linker/*.s
linker/*.o
linker/a.out
dev
docs
core